<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>PorMnt</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
   <!-- Shiro的filter -->
<!-- shiro过虑器，DelegatingFilterProx会从spring容器中找shiroFilter -->
<filter>
    <filter-name>shiroFilter</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>

    <!-- 设置true由servlet容器控制filter的生命周期 -->
    <init-param>
        <param-name>targetFilterLifecycle</param-name>
        <param-value>true</param-value>
    </init-param>

    <!-- 设置spring容器filter的beanID，如果不设置则默认自动找与filter name一致的bean，指定更加稳定快速 -->
    <init-param>
        <param-name>targetFilterLifecycle</param-name>
        <param-value>shiroFilter</param-value>
    </init-param>
</filter>

<filter-mapping>
    <filter-name>shiroFilter</filter-name>
    <url-pattern>/*</url-pattern>
</filter-mapping>
  
  
  <!-- 配置监听器
  	监听spring应用的启动
   -->
   <listener>
   	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
   </listener>
   
   <!-- spring应用程序启动时，加载spring主配置文件
   	启动spring容器
    -->
   <context-param>
   		<param-name>contextConfigLocation</param-name>
   		<param-value>classpath:applicationContext.xml</param-value>
   </context-param>
   
   
   <!-- struts过滤器 -->
  <filter>
  	<filter-name>ssh</filter-name>
  	<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>
  <filter-mapping>
	<filter-name>ssh</filter-name>
	<url-pattern>/*</url-pattern>  
  </filter-mapping>
  
  <!-- 配置openSessionInViewFilter
  	将session打开关闭提到表现层，防止数据延迟加载时，session已经关闭的异常
   -->
   <filter>
   	<filter-name>openSessionInView</filter-name>
   	<filter-class>org.springframework.orm.hibernate4.support.OpenSessionInViewFilter</filter-class>
   	<!-- 初始化参数，指定数据源 -->
   	<init-param>
   		<param-name>sessionFactoryBeanName</param-name>
   		<param-value>sessionFactory</param-value>
   	</init-param>
   	<init-param>
            <param-name>flushMode</param-name>
            <param-value>AUTO</param-value>
        </init-param>
        <init-param>  
            <param-name>singleSession</param-name>  
            <param-value>true</param-value>  
        </init-param> 
   
   </filter>
  <filter-mapping>
  	<filter-name>openSessionInView</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  
</web-app>